# ~/.local/share/fonts
CascadiaCode*
JetBrainsMono*
lxgw-*
LxgwNewClearGothic-*
# https://mirror.nju.edu.cn/github-release/be5invis/Sarasa-Gothic/LatestRelease/
Sarasa-Mono-SC-Nerd*
sarasa-gothic-*
MesloLGS_NF
